@media all{
    .divTitulo{
        background-color: var(--verdeLogo);
        border-radius: 20px 20px 0 0;
        padding: 1em;
    }

    .botaoLogout{
        background-color: #29B473;
        font-weight: bold;
        width: 60px;
        border: none;
        border-radius: 4px;
        padding: 6px 0px;
        cursor: pointer;
        margin-left: 1em;
    }
    
    .botaoLogout:hover{
        background-color: #1c7d50;
    }

    .divTitulo>h3{
        text-align: center;
        margin-bottom: 0.5em;
    }

    .divConteudo{
        padding-left: 1em;
        margin-top: 1em;
    }

    .descricao{
        margin: 1em 0;
    }

    .divBotoes{
        text-align: center;
        margin: auto;
    }

    .atencao{
        text-align: center;
        font-size: 1.2em;
    }

    .atencao span{
        color: red
    }

    .atencao:hover{
        font-size: 1.3em;
    }

}

@media(min-width: 769px){
    .botaoLogout{
        width: 80px;
        padding: 6px 16px;
    }
}
