@media all{
    .divTitulo{
        background-color: var(--verdeLogo);
        border-radius: 20px 20px 0 0;
        padding: 1em;
    }

    .botaoLogout{
        background-color: #29B473;
        font-weight: bold;
        width: 70px;
        border: none;
        border-radius: 4px;
        padding: 6px 0px;
        cursor: pointer;
        margin-left: 1em;
        font-size: 0.8em;
    }
    
    .botaoLogout:hover{
        background-color: #1c7d50;
        transition: all 0.2s;
        font-size: 0.9em;
    }

    .divTitulo>h3{
        text-align: center;
        margin-bottom: 0.5em;
    }

    .divTitulo>p{
        text-align: left;
        font-weight: bold;
    }
    
    .divTitulo p:last-child{
        text-align: right;
        font-weight: bold;
    }

    .divConteudo{
        padding-left: 1em;
    }

    .divConteudo li{
        margin-left: 2em;    
    }
    
    .divFlex{
        display: flex;
        align-items: center;
        margin-top: 1em;
    }

    .divGrid{
        display: grid;
        column-gap: 2em;
        row-gap: 0.4em;
    
        grid-template-areas: "rua rua"
                             "bairro bairro"
                             "cep num"
                             "compl compl"
    }
    
    .rua{
        grid-area: rua;
    }
    .cep{
        grid-area: cep;
    }
    .bairro{
        grid-area: bairro;
    }
    .num{
        grid-area: num;
    }
    .rua{
        grid-area: rua;
    }
    .compl{
        grid-area: compl;
    }

    .divLink{
        display: flex;
        margin: auto;
        text-align: center;
    }

    .link{
        text-decoration: none;
        text-align: center;
        margin-left: 10px;
        color: blue;
    }

    .link:hover{
        text-decoration: underline var(--verdeLogo) 2px;
    }

    .divBotoes{
        text-align: center;
        margin: auto;
    }

    .descricao{
        text-align: center;
        margin: 1em 0;
    }

    .sugestao{
        text-align: left;
        margin: 0 0 1em 1em;
    }
}

@media(min-width: 769px){
    .botaoLogout{
        width: 90px;
        padding: 10px 16px;
        font-size: 0.9em;
    }

    .botaoLogout:hover{
        font-size: 1em;
    }
}
