@media all{
    .logo{
        display: flex;
        align-items: baseline;
        margin: auto;
        justify-content: center;
        margin: 1em 0;
    }

    .logo>h1{
        color: var(--verdeLogo);
    }

    .textoInicial{
        text-align: center;
        max-width: 70vw;
        margin: auto;
        margin-bottom: 1em;
    }

    .divTitulo{
        background-color: var(--verdeLogo);
        border-radius: 20px 20px 0 0;
        padding: 1em;
    }

    .divTitulo p:last-child{
        text-align: right;
        font-weight: bold;
    }

    .divConteudo{
        padding-left: 1em;
    }

    .descricao{
        text-align: left;
        margin: 1em 0;
    }

    .divLink{
        display: flex;
        margin: auto;
        text-align: center;
    }

    .linkMap{
        text-decoration: none;
        text-align: center;
        margin-left: 10px;
        color: blue
    }

    .linkMap:hover{
        text-decoration: underline var(--verdeLogo) 2px;
    }

    .divConteudo li{
        margin-left: 2em;    
    }

    .divFlex{
        display: flex;
        align-items: center;
        margin-top: 1em;
    }

    .divGrid{
        display: grid;
        column-gap: 2em;
        row-gap: 0.4em;
    
        grid-template-areas: "rua rua"
                             "bairro bairro"
                             "cep num"
                             "compl compl"
    }
    
    .rua{
        grid-area: rua;
    }
    .cep{
        grid-area: cep;
    }
    .bairro{
        grid-area: bairro;
    }
    .num{
        grid-area: num;
    }
    .rua{
        grid-area: rua;
    }
    .compl{
        grid-area: compl;
    }
    
    .divTexto{
        background-color: white;
        width: 80vw;
        padding: 1em;
        margin: 2em auto;
        border: 1px solid var(--verdeLogo);
        border-radius: 20px;
        text-align: center;
        box-shadow: 6px 10px 15px var(--verdeLogo);
    }

    .divTexto h2{
        margin-bottom: 1em;
    }
    
    .link{
        text-decoration: none;
        color: #2E7D32;
        font-weight: bold;
        font-size: 1.1em;
    }

    .link:hover{
        font-size: 1.2em;
    }

    .botaoLogout{
        background-color: #29B473;
        font-weight: bold;
        width: 60px;
        border: none;
        border-radius: 4px;
        padding: 6px 0px;
        cursor: pointer;
        margin-left: 1em;
    }
    
    .botaoLogout:hover{
        background-color: #1c7d50;
    }

    .texth1{
        text-align: center;
        margin-bottom: 20px;
    }
}
    
@media (min-width: 769px) {
    table{
        width: 600px;
    }
    
    th, td{
        padding: 6px;
    }
    
    .divTexto{
        width: 600px;
    }

    .botaoLogout{
        width: 80px;
        padding: 6px 16px;
    }
}