@media all {
    .header{
        height: 4em;
        background-color: #6c6f74;
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 0 1em;
    }

    .headerLogo{
        display: flex;
        align-items: baseline;
    }

    .headerLogo>img{
        margin-right: 0.2em;
    }

    .headerLogo>h2{
        color: #53c38f;
    }

    .navbar a{
        margin-left: 0.5em;
        text-decoration: none;
        /* color: rgba(255, 255, 255, 0.678); */
        color: white;
        font-size: 1em;
    }

    .navbar a:hover{
        text-decoration: underline var(--verdeLogo) 3px;
    }
}

@media (min-width: 769px) {
    .header{
        height: 5em;
        background-image: linear-gradient(to right, #484B52,  #6c6f74);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar a{
        margin-left: 1em;
        text-decoration: none;
        /* color: rgba(255, 255, 255, 0.678); */
        color: white;
        font-size: 1.2em;
    }
}